<footer class="page-footer indigo darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">MisionTIC</h5>
        <p class="grey-text text-lighten-4">Equipo 2 - Grupo 56</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Miembros de equipo</h5>
        <ul>
          <li><a class="grey-text text-lighten-3">FORERO LÓPEZ PATRICIA</a></li>
          <li><a class="grey-text text-lighten-3">MARTINEZ PEDRAZA CAZTELDARY</a></li>
          <li><a class="red-text text-lighten-3">PARRA VARGAS JOHN SEBASTIAN</a></li>
          <li><a class="grey-text text-lighten-3">PEREZ BERNAL YERZIN JANEY</a></li>
          <li><a class="grey-text text-lighten-3">REY ESCARRAGA ROMAN ALFONSO</a></li>
          <li><a class="red-text text-lighten-3">RVANEGAS ORREGO SAMUEL</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      ©2022 Copyright Equipo 2 - Grupo 56
    </div>
  </div>
</footer>
