<div class="container">
  <br>
  <div class="row">
    <div class="col s3">
      <a routerLink="/admin/create" class="btn indigo darken-4">
        <em class="large material-icons">
          <span class="material-symbols-outlined">
            group_add
          </span>
        </em>
        <p>Registrar Persona</p>
      </a>
    </div>
  </div>

  <table class="table responsive striped highlight" aria-describedby="Table for users">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of listado">
        <td>{{p.nombre}}</td>
        <td>{{p.apellidos}}</td>
        <td>{{p.correo}}</td>
        <td>{{p.telefono}}</td>
        <td>
          <div class="row">
            <div class="col s3">
              <a routerLink="/admin/edit/{{p.id}}" class="btn indigo darken-4">
                <em class="large material-icons"><span class="material-symbols-outlined" style="margin: 0;">
                    edit
                  </span>
                </em></a>
            </div>
            <div class="col s4">
              <button class="btn red" (click)="delete(p.id)"><em class="large material-icons">
                  <span class="material-symbols-outlined">
                    delete
                  </span>
                </em></button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
